.conteinerCard {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.linkClient {
  padding: 5px;
  margin: 10px;
}
.linkClient img:hover,
.linkClient img:focus {
  border-radius: 23px;
  background: #ffffff;
  box-shadow: -10px -10px 20px #e6e6e6, 10px 10px 20px #ffffff;
  transition: all 0.2s ease 0s;
}

.card {
  width: 120px;
  cursor: pointer;
}

@media screen and (min-width: 760px) {
  .linkClient {
    padding: 10px;
    margin: 20px;
  }
  .card {
    width: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .linkClient {
    margin: 30px;
  }
  .card {
    width: 220px;
  }
}
